.footer {
  color: white;
  background-color: black;
  padding-top: 3em;
  margin-bottom: 0px;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* .one {
  font-size: small;
}
.two {
  font-size: x-small;
} */